*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background-color:#F7F8F0;
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.login-card{
  width:380px;
  border:1px solid #ddd;
  background:#ffffff;
  box-shadow:0 3px 10px rgba(0,0,0,0.08);
}

/* header */
.login-header{
  background:#F7F8F0;
  color:#355872;
  padding:30px;
  text-align:center;
  font-size:22px;
  border-bottom:1px solid #ddd;
}

/* form */
.login-form{
  padding:25px;
}

.login-form label{
  display:block;
  margin-bottom:6px;
  color:#355872;
  font-weight:bold;
}

.login-form input{
  width:100%;
  padding:10px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:3px;
}

/* button */
.login-form button{
  width:100%;
  padding:12px;
  background:#7AAACE;
  color:white;
  border:none;
  font-size:16px;
  cursor:pointer;
  transition:0.3s;
}

.login-form button:hover{
  background:#355872;
}

/* error message */
.error-message{
  text-align:center;
  margin-top:15px;
  color:#355872;
}