*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#F7F8F0;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* Container */

.container{
width:700px;
background:white;
border:1px solid #ddd;
border-radius:6px;
}

/* Header */

.header{
background:#355872;
color:white;
padding:15px;
font-weight:bold;
}

/* Upload Box */

.upload-box{
padding:40px;
text-align:center;
}

/* Drop area */

.drop-area{
border:2px dashed #9CD5FF;
padding:40px;
margin-bottom:25px;
color:#355872;
background:#F7F8F0;
}

.drop-area input{
margin-top:10px;
}

/* Buttons */

.buttons{
margin-bottom:20px;
}

.process{
background:#7AAACE;
border:none;
padding:10px 25px;
color:white;
margin-right:10px;
cursor:pointer;
}

.cancel{
background:#ddd;
border:none;
padding:10px 25px;
cursor:pointer;
}

.process:hover{
background:#355872;
}

/* Loading */

.loading{
margin:15px 0;
color:#355872;
}

/* Success */

.success{
background:#e8f5e9;
color:#355872;
padding:10px;
border-radius:4px;
display:inline-block;
}